

<div id="formPage">

  <div id="formContainer">


    <div class="row">
      <%= form_tag '/users', class: 'col s12',method: 'post' do %>
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate" name="name">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" name="surname">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="gender" type="text" class="validate" name="gender">
            <label for="gender">Gender</label>
          </div>
          <div class="input-field col s6">
            <input type="date" class="datepicker" name="birthdate">
            <label for="birthdate"></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="location" type="text" class="validate" name="location">
            <label for="location">Location</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" name="email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div id="submitUserBtn">
          <button>submit</button>
        </div>
      <% end %>
    </div>

    </div>
    
  </div>
    
  
</div>