<div class="backgroundImgHome">
  <div class="mainPageBodyDiv">

    <div class="mainPageInnerBodyDiv">
      
      <h5 id="pageTagline">An excuse to go...</h5>
        <div>
          <div class="carousel">
          <% HouseImage.all.each do |house| %>
            <a class="carousel-item" href="#one!"><img class="mainPageImageScroller" src="<%= house.image %>" alt=""></a>
          <% end %>
          </div>
                  

        </div>
      
    </div>
      <div class="mainPageRightSideText">
        <div>
        <h5>Why BuddyLodge?</h5>
        <p>
        Buddy Lodge is for people who want to find a reliable pet sitter whilst they're away on holidays. Post a listing and wait to be contacted by people who are hoping to be in your area around that time and are looking for free accomodation. Read profiles and find a sitter!
        </p>
          <p>
            On the other side, have a mini holiday, in someone elses house, for free! People are always looking for pet sitters, so become one and explore a city while you do.
          </p>
        </div>
      </div>
    
  </div> 
</div>

        <footer class="page-footer" id="footerTopMarginRemove">
          <div class="container" v>
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">BuddyLodge</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque commodi fuga nihil, maiores saepe similique numquam voluptatum, expedita dolor consequatur asperiores. Recusandae nisi, itaque fugiat, dolorem natus quis excepturi debitis!</p>
              </div>
              <div class="col l4 offset-l2 s12" id="share-buttons">
                <h5 class="white-text">Social Media</h5>
                <ul>
                  <li>    
                    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                      <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                    </a>
                  </li>
                  <li>    
                    <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
                      <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
                    </a>
                  </li>
                  <li>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
                      <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Sam West-Sooby
            <a class="grey-text text-lighten-4 right" href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Email Us</a>
            </div>
          </div>
        </footer>