<h1>hello world 2</h1>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit provident, ab modi nihil ipsum, doloremque hic corrupti animi harum corporis rem fuga sapiente perspiciatis mollitia, excepturi at aspernatur illo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic delectus dolorum doloremque laboriosam eum, nam vitae aspernatur debitis consequatur eligendi eaque fugiat consectetur tenetur, ratione nulla impedit suscipit, repudiandae quod!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium perspiciatis maiores repellat, debitis maxime nemo sequi aspernatur iste facere aut similique cupiditate expedita. A ducimus ullam maxime minus animi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, dolore voluptatem, neque, ipsam quidem officia ipsum asperiores tempore atque, facere iste vel quisquam deserunt! Voluptatum ipsa, quo laudantium id placeat?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae neque quae deleniti modi, et repudiandae possimus sunt amet, nobis unde iste, distinctio, nemo quibusdam. Est aliquid officiis temporibus in id.Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam, obcaecati. Praesentium velit nostrum, eum corrupti sint accusamus aliquid a, eius earum, aut reprehenderit ab impedit dolorem perferendis. Similique, quod?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ratione at ipsam excepturi harum quae necessitatibus accusamus, consequatur hic repellat, minus, ab suscipit dolor! Officiis dolores unde dolore nulla dignissimos.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates provident hic voluptas fugit exercitationem dignissimos, neque, aliquid nisi labore laboriosam architecto eum. Autem sint adipisci at deserunt quidem ea nobis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt exercitationem eos dicta quaerat temporibus dolores laboriosam esse maxime cum odit ut fugit culpa dignissimos quibusdam inventore illum illo possimus, porro.</p>
  </div>

        <footer class="page-footer">
          <div class="container" v>
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">BuddyLodge</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque commodi fuga nihil, maiores saepe similique numquam voluptatum, expedita dolor consequatur asperiores. Recusandae nisi, itaque fugiat, dolorem natus quis excepturi debitis!</p>
              </div>
              <div class="col l4 offset-l2 s12" id="share-buttons">
                <h5 class="white-text">Social Media</h5>
                <ul>
                  <li>    
                    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                      <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                    </a>
                  </li>
                  <li>    
                    <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
                      <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
                    </a>
                  </li>
                  <li>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
                      <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Sam West-Sooby
            <a class="grey-text text-lighten-4 right" href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Email Us</a>
            </div>
          </div>
        </footer>